@{
    ViewData["Title"] = "Finances";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rocky Finances</h1>
    <br />
    <h2 class="display-8">Your guide to Financial Investments in Brazil</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
